{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
  <div style="margin: 100px 0px" class="jumbotron">
    <h1 class="text-center">Apps for Workflowy</h1>
    <p style="color:#666; margin: 20px 0; font-size: 20px" class="lead text-center">
      Enhancing your <a href="https://workflowy.com/" target="_blank">Workflowy™</a> experience or fully transforming it.
    </p>
    <div style="margin: 35px 0" class="text-center">
      <a style="margin-left: 20px;" class="btn btn-large btn-success" href="#start">Start</a> 
    </div>
  </div>
  <hr>
  <div class="row-fluid feature">
    <div class="span6">
      <h4>Reminders</h4>
      <img class="blackborder" src="/static/reminders-wf.png">
      <p>Mark any item with the special date syntax (year, month, day, all together).</p>
    </div>
    <div class="span6">
      <h4>&zwnj;</h4>
      <p>Receive emails in the morning of the set date.</p>
      <img class="blackborder" src="/static/reminders-email.png">
    </div>
  </div>
  <hr>
  <div class="row-fluid feature">
    <div class="span6">
      <h4>Sites</h4>
      <p>Simple, but useful websites from your workflowy items</p>
      <img class="blackborder" src="/static/sites-result.png">
      <p>Complex nested structures translate seamlessly to a structure of hierarchical webpages.</p>
    </div>
    <div class="span6">
      <h4>&zwnj;</h4>
      <img class="blackborder" src="/static/sites-wf.png">
    </div>
  </div>
  <!--<img src="/static/img/demo.png">-->
  <hr>
  <div class="row-fluid">
    <div class="span12">
      <p style="color:#555" class="lead">
        flowi.es don't require you to handle us access to all your Workflowy, just a part of it. And it can be just <em>read</em> access!
      </p>
    </div>
  </div>
  <hr>
  <div class="container-fluid">
    <div class="row-fluid" id="start">
      <h2>Sign up now</h2>
      <p>It only takes a username, a password and a shared Workflowy project URL.</p>
      <h4>Step 1: Get a shared URL for some Workflowy project</h4>
      <img src="/static/share.png">
      <h4>Step 2: Register it</h4>
      <p>(If you already have an account you can just reuse your name and password)</p>
      <form class="form-horizontal" action="/setup" method="POST">
        <fieldset>
          <div class="control-group">
            <label class="control-label">Username: </label>
            <input type="text" placeholder="happydog101"
                   name="username" value="{{ request.args.get('username', '') }}">
          </div>
          <div class="control-group">
            <label class="control-label">Password: </label>
            <input type="password" placeholder="donotfreakout" name="password">
          </div>
          <div class="control-group">
            <label class="control-label">Workflowy shared URL: </label>
            <input type="text" placeholder="https://workflowy.com/s/cqFyu4cFba"
                   name="wfitem" value="{{ request.args.get('wfitem', '') }}">
          </div>
          <button type="submit" style="display: block; margin: auto;" class="btn btn-large btn-primary">Go</button>
        </fieldset>
      </form>
      <h4>Step 3: Enable apps!</h4>
      <p>Inside the <a href="/dashboard">dashboard</a> you'll be able to choose from one of the apps.</p>
    </div>
  </div>

  {% if quotes %}
  <hr>
  <div class="row-fluid quotes">
    <div class="span6">
      <blockquote>{{ quote }}
        <small>@{{ user }}</small> 
      </blockquote>
    </div>
    <div class="span6">
      <blockquote>{{ quote }}
        <small>@{{ user }}</small> 
      </blockquote>
    </div>
  </div>
  {% endif %}

  <hr>
  <div class="row-fluid">
    <div class="span6">
      <h3>Suggest an app</h3>
      <p>You want some feature added to your Workflowy? We want to build it.</p>
    </div>
    <div class="span6">
      <form method="POST" action="https://formspree.io/fiatjaf@boardthreads.com">
        <div class="form-control">
          <textarea class="input-block-level" rows="3" name="idea" placeholder="Your idea."></textarea>
        </div>
        <div class="form-control">
          <input class="input-block-level" type="text" name="email" placeholder="Optionally, your email.">
        </div>
        <button class="btn">Submit</button>
      </form>
    </div>
  </div>

{% endblock %}
